{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {% include('@WebProfiler/Icon/http-client.svg') %}
{#        {% include('@Cms/collector/cms-icon.svg') %}#}
        <span class="sf-toolbar-value">Cms</span>
    {% endset %}


    {% set text %}
        <style>
            .cms-log-title {
                max-width: 130px;
            }
            .sf-toolbar-cms-log span {
                width: 350px;
                display: block;
                word-break: break-word;
                white-space: break-spaces;
            }
            .sf-toolbar-block:hover .sf-toolbar-info, .sf-toolbar-block.hover .sf-toolbar-info {
                min-width: 350px;
            }

            .sf-toolbar-block .sf-toolbar-info-piece.sf-toolbar-cms-log {
                border-bottom: solid 1px #666;
            }
            .sf-toolbar-block .sf-toolbar-info-piece.sf-toolbar-cms-log:nth-child(odd) {
                background-color: #555;
            }
            .sf-toolbar-block .sf-toolbar-cms-log .sf-toolbar-status {
                text-align: left;
                background:none;
            }
        </style>

        {# @var log Efrogg\Bundle\CmsBundle\Log\LogEntry #}
        {% set status_color='' %}
        {% for log in collector.logs %}
            <div class="sf-toolbar-info-piece sf-toolbar-cms-log">
                <b class="cms-log-title">{{ log.level }}<br><small>[{{ log.title }}]</small></b>


                {% set level_color='' %}
                {% if log.level == 'error' %}
                    {% set level_color = 'red' %}
                    {% set status_color = 'red' %}
                {% elseif log.level == 'warning' %}
                    {% set level_color = 'yellow' %}
                    {% if status_color != 'red' %}
                        {% set status_color = 'yellow' %}
                    {% endif %}
                {% endif %}

                <span class="sf-toolbar-status {{ level_color?'sf-toolbar-status-'~level_color:'' }}">{{ log.message }}</span>
                {# {% if log.context is not empty %} #}
                {# {{ dump(log.context) }} #}
                {# {% endif %} #}
            </div>
        {% endfor %}
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true, status: status_color }) }}
    {# {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true}) }} #}

{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
{#            {% include('@Cms/collector/cms-icon.svg') %}#}
            {% include('@WebProfiler/Icon/http-client.svg') %}
        </span>
        <strong>Cms</strong>
    </span>

{% endblock %}

{% block panel %}
    <h2>Cms logs</h2>
    <table>
        <tr>
            <th><b>level</b></th>
            <th>title</th>
            <th>message</th>
            <th>context</th>
        </tr>
        {# @var log Efrogg\Bundle\CmsBundle\Log\LogEntry #}
        {% for log in collector.logs %}
            <tr>
                <td>{{ log.level }}</td>
                <td>{{ log.title }}</td>
                <td>{{ log.message }}</td>
                <td>
                    <pre>{{ log.context|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

